<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<!--<div align="center">-->
<!--    <h1>Login</h1>-->
<!--    <br />-->
<!--    <form action="#" th:action="@{/do-stuff}" th:object="${product}" method="post">-->

<!--        <table border="0" cellpadding="10">-->
<!--            <tr>-->
<!--                <td>Username:</td>-->
<!--                <td><input type="text" th:field="*{username}" /></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Password:</td>-->
<!--                <td><input type="text" th:field="*{Password}" /></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td colspan="2"><button type="submit">Save</button> </td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </form>-->
<!--</div>-->
<input type="text" name="name" placeholder="Enter the name"><br>
<input type="password"  password="password" placeholder="Enter the password"><br>

<button type="button" th:onclick="|window.location.href='/do-stuff'|"> Submit </button>
<button type="reset">Reset</button>

</body>
</html>